<app-header
    [color]="headerColors.home"
    titulo="Alterar Senha"
    [h1HeaderColor]="h1HeaderColors.home"
    [textColor]="textColors.home"
    [textColor]="textColors.home"
    [textColor]="textColors.home"
    [btnColor]="btnColors.home"
/>
<main class="flex_center">
    <app-card-img 
        [color]="ImgBorderColors.password"
        img="assets\img\newpwd__img.png" 

    />
    <div class="flex_center flex_column gap-32">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="email" placeholder="E-mail">
            <input type="password" formControlName="senha" placeholder="Senha">
            <app-btn-pages [disabled]="!passwordForm.valid" [color]="BtnColors.password" text="Alterar" />
        </form>
    </div>
</main>

<app-footer [color]="footerColors.home" />

<app-modal-feedback *ngIf="!!errors" [statusModal]="false" [msg]="errors" (onClose)="handleClose()" />
