<app-header
    [color]="headerColors.password"
    titulo="Alterar Senha"
    [h1HeaderColor]="h1HeaderColors.password"
    [textColor]="textColors.password"
    [textColor]="textColors.password"
    [textColor]="textColors.password"
    [btnColor]="btnColors.password"
/>
<main class="flex_center">
    <app-card-img 
        [color]="ImgBorderColors.password"
        img="assets/img/login__img.jpeg" 

    />
    <div class="flex_center flex_column gap-32">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="email" placeholder="E-mail">
            <input type="text" formControlName="senha" placeholder="Senha">
            <app-btn-pages [disabled]="!passwordForm.valid" [color]="BtnColors.password" text="Login" />
        </form>
        <div class="flex_center flex_column">
            <app-links route="/cadastro" text="Cadastre-se"/>
            <app-links route="/password" text="Esqueceu sua senha?"/>
        </div>
    </div>
</main>

<app-footer [color]="footerColors.home" />

<app-modal-feedback *ngIf="!!errors" [statusModal]="false" [msg]="errors" (onClose)="handleClose()" />
