<app-header
    [color]="headerColors.ansiedade"
    titulo="Ansiedade"
    [h1HeaderColor]="h1HeaderColors.ansiedade"
    [textColor]="textColors.ansiedade"
    [textColor]="textColors.ansiedade"
    [textColor]="textColors.ansiedade"
    [btnColor]="btnColors.ansiedade"/>

<main>
    <app-panic-btn />
        <div class="artigos">
            <app-card-info [h2Color]="h2Colors.ansiedade" titulo="O que é Ansiedade?" />
            <div class="flex_center flex_column gap-32">
                <app-card-article titulo="Artigo 1" />
                <app-card-article titulo="Artigo 1" />
                <app-card-article titulo="Artigo 1" />
            </div>
        </div>
</main>

<app-footer [color]="footerColors.ansiedade" />
