@import 'src/assets/css/global.css';

/* Classes novas */

header {
    border-radius: 30px;
}

.header_home {
    background-color: var(--light-blue);
}

.header_ansiedade {
    background-color: var(--light-pink);
}

.header_tdah {
    background-color: var(--light-green);
}

.header_depressao {
    background-color: var(--dark-blue-light);
}

.header_clinicas {
    background-color: var(--light-yellow);
}

.h1_header_home {
    color: var(--light-blue-text);
}

.h1_header_ansiedade {
    color: var(--light-pink-text);
}

.h1_header_tdah {
    color: var(--green-text);
}

.h1_header_depressao {
    color: var(--dark-blue);
}

.h1_header_clinicas {
    color: var(--yellow-text);
}


.btn_nav_home {
    color: var(--blue-text);
    background-color: var(--blue);
}

.btn_nav_ansiedade {
    color: var(--light-pink-text);
    background-color: var(--pink);
}

.btn_nav_tdah {
    color: var(--green-text);
    background-color: var(--green);
}

.btn_nav_depressao {
    color: var(--dark-blue-light-text);
    background-color: var(--dark-blue);
}

.btn_nav_clinicas {
    color: var(--yellow-text);
    background-color: var(--yellow);
}

.text_home {
    background-color: var(--light-blue-text);
}

.text_ansiedade {
    background-color: var(--light-pink-text);
}

.text_tdah {
    background-color: var(--green-text);
}

.text_depressao {
    background-color: var(--dark-blue);
}

.text_clinicas {
    background-color: var(--yellow-text);
}
