:root {
  --val-size: 8px;
  --drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --light-blue: #D3F7FF;
  --light-blue-text: #0093B4;
  --blue: #44DDFF;
  --blue-text: #005D72;
  --password-blue: #5CE1E6;
  --light-pink: rgba(255, 0, 184, 0.1);
  --light-pink-text: #C7008F;
  --pink: rgba(255, 99, 239, 0.6);
  --pink-text: #98006D;
  --light-green: #DFF0D9;
  --green: #0FBF2C;
  --green-text: #0A6218;
  --dark-blue-light: rgba(0, 26, 255, 0.2);
  --dark-blue: #0091FF;
  --dark-blue-light-text: #006A82;
  --light-red: rgba(255, 0, 0, 0.6);
  --light-red-text: #A70000;
  --light-yellow: #F6F2D5;
  --yellow-text: #7E7C03;
  --yellow: #FFFE66;
  --orange: #FFA857;
  --light-orange: #FCD9B9;
  --dark-orange: #854000;
  --grey-text: #807F7F;
  --dark-red: #A60000;

  /* disabled colors */

  --light-blue-disabled: rgba(211, 247, 255, 0.3);
  --light-blue-text-disabled: rgba(0, 147, 180, 0.3);
  --blue-disabled: rgba(68, 221, 255, 0.3);
  --blue-text-disabled: rgba(0, 93, 114, 0.3);
  --password-blue-disabled: rgba(92, 225, 230, 0.3);
  --light-pink-disabled: rgba(255, 0, 184, 0.05);
  --light-pink-text-disabled: rgba(199, 0, 143, 0.3);
  --pink-disabled: rgba(255, 99, 239, 0.3);
  --pink-text-disabled: rgba(152, 0, 109, 0.3);
  --light-green-disabled: rgba(223, 240, 217, 0.3);
  --green-disabled: rgba(15, 191, 44, 0.3);
  --green-text-disabled: rgba(10, 98, 24, 0.3);
  --dark-blue-light-disabled: rgba(0, 26, 255, 0.1);
  --dark-blue-disabled: rgba(0, 145, 255, 0.3);
  --dark-blue-light-text-disabled: rgba(0, 106, 130, 0.3);
  --light-red-disabled: rgba(255, 0, 0, 0.3);
  --light-red-text-disabled: rgba(167, 0, 0, 0.3);
  --light-yellow-disabled: rgba(246, 242, 213, 0.3);
  --yellow-text-disabled: rgba(126, 124, 3, 0.3);
  --yellow-disabled: rgba(255, 254, 102, 0.3);
  --orange-disabled: rgba(255, 168, 87, 0.3);
  --light-orange-disabled: rgba(252, 217, 185, 0.3);
  --dark-orange-disabled: rgba(133, 64, 0, 0.3);
  --grey-text-disabled: rgba(128, 127, 127, 0.3);
  --dark-red-disabled: rgba(166, 0, 0, 0.3);
}

