<app-header
    [color]="headerColors.tdah"
    titulo="TDAH"
    [h1HeaderColor]="h1HeaderColors.tdah"
    [textColor]="textColors.tdah"
    [textColor]="textColors.tdah"
    [textColor]="textColors.tdah"
    [btnColor]="btnColors.tdah"/>

<main>
    <app-panic-btn />
        <div class="artigos">
            <app-card-info [h2Color]="h2Colors.tdah" [title]="apiResponse.title" [description]="apiResponse.description" />
            <div class="flex_center flex_column gap-32">
                <app-card-article 
                    *ngFor="let article of apiResponse.articles" 
                    [title]="article.title" 
                    [description]="article.description"
                />
            </div>
        </div>
</main>

<app-footer [color]="footerColors.tdah" />

