<app-header
    [color]="headerColors.tdah"
    titulo="TDAH"
    [h1HeaderColor]="h1HeaderColors.tdah"
    [textColor]="textColors.tdah"
    [textColor]="textColors.tdah"
    [textColor]="textColors.tdah"
    [btnColor]="btnColors.tdah"/>

<main>
    <app-panic-btn />
        <div class="artigos" *ngIf="apiResponse">
            <app-card-info [h2Color]="h2Colors.tdah" [title]="apiResponse.titulo" [description]="apiResponse.descricao" />
            <div class="flex_center flex_column gap-32">
                <app-card-article 
                    *ngFor="let article of apiResponse.artigos" 
                    [title]="article.titulo" 
                    [description]="article.descricao"
                />
            </div>
        </div>
</main>

<app-footer [color]="footerColors.tdah" />

