<app-header
    [color]="headerColors.home"
    titulo="Seu Perfil Profissional"
    [h1HeaderColor]="h1HeaderColors.home"
    [textColor]="textColors.home"
    [textColor]="textColors.home"
    [textColor]="textColors.home"
    [btnColor]="btnColors.home"
/>

<main class="flex_center">
    <app-card-img 
    [color]="ImgBorderColors.register"
    img="assets/img/cadastro__img.jpeg"
    />

    <div class="flex_center flex_column gap-32">
        <form [formGroup]="professionalRegisterForm">
            <input type="text" formControlName="abordagem" placeholder="Insira sua abordagem">
        </form>
    </div>

</main>


<app-footer [color]="footerColors.home" />

