@import 'src/assets/css/global.css';

main {
    display: flex;
    padding: calc(var(--val-size)*2);
}

.pag__inicial {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 60%;
}
  
#bloco__ansiedade {
    background-color: var(--light-pink);
}
  
#bloco__tdah {
    background-color: var(--light-green);
}
  
#bloco__depressao {
    background-color: var(--dark-blue-light);
}
  
#bloco__somos {
    background-color: var(--light-yellow);
}

aside {
    width: 40%;
    display: flex;
}

.container_banner {
    display: flex;
    width: 100%;
}

.banner {
    background-color: red;
    width: 300px;
    height: 500px;
}
