<main>
    <div class="pag__inicial">
        <div class="bloco_size" id="bloco__ansiedade">
                <a href="ansiedade.html">
                <h3>Ansiedade</h3>
                <img src="assets/img/ansiedade.png" alt="ansiedade">
            </a>
        </div>
        <div class="bloco_size" id="bloco__tdah">
            <a href="tdah.html">
                <h3>TDAH</h3>
                <img src="assets/img/tdah.png" alt="tdah">
            </a>
            </div>
        <div class="bloco_size" id="bloco__depressao">
            <a href="depressao.html">
                <h3>Depressão</h3>
                <img src="assets/img/depressao.png" alt="depressao">
            </a>
        </div>
        </div>
    <div class="bloco_size" id="bloco__somos">
        <h3>Quem somos?</h3>
        <a href="quemsomos.html">
            <img src="assets/img/logovetoramarelo.png" width="350" alt="somos">
        </a>
    </div>
</main>

