@import 'src/assets/css/global.css';

header {
    background-color: var(--light-blue);
}

nav button{
    color: var(--blue-text);
    background-color: var(--blue);
}

nav h1 {
    color: var(--light-blue-text);
}

.bar {
    background-color: var(--light-blue-text);
}