<header>
    <nav class="nav__home">
        <img src="assets/img/logo1.png" width="100" alt="logo">
        <input type="checkbox" id="menu-toggle">
        <h1>CalmaMente</h1>
        <label for="menu-toggle" class="menu-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </label>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="ansiedade.html">Ansiedade</a></li>
            <li><a href="depressao.html">Depressão</a></li>
            <li><a href="tdah.html">TDAH</a></li>
            <li><a href="quemsomos.html">Quem somos?</a></li>
        </ul>
        <a href="login.html"><button>Login</button></a>
    </nav>
</header>
